<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Proyecto 1</title>
        <link rel="stylesheet" href="./normalize.css">
        <link rel="stylesheet" href="./estiloproyecto1.css">
    </head>
    <body>
        <header>
            <p>
                <h1>Base de Datos de Notas para un Colegio.</h1>
                <a>Hecho en UMG</a>
                <br>
                <a href="portafolioRudyRobertoMendezGalindocss.html">
                    <input type="submit" name="Regresar" id="" value="Regresar">
                </a>
            </p>
        </header>
        <hr>
        <main>
            <section id="description">
                <h3>Descripción del Proyecto</h3>
                <p>
                    Se desarrolló un sistema de Base de Datos sobre notas para un colegio en SQL Server.
                </p>
                <p>
                    <b>Rol:</b> Desarrollador de Base de Datos.
                </p>
            </section>
            <section id="diagramas">
                <h3>Diagramas de la Base de Datos</h3>
                <p>Diagrama Relacional</p>
                <img src="./imagenesversiondos/DIAGRAMA RELACIONAL.png" alt="Diagrama Relacional" width="250" height="250">
                <p>Diagrama Entidad Relación</p>
                <img src="./imagenesversiondos/Diagrama entidad relacion.png" alt="Diagrama Entidad Relacion" width="250" height="250">
                <hr>
                <a href="https://github.com/RoberthG01/proyectofinalterminado" target="_blank">
                    <input type="submit" name="Proyecto" id="" value="Visualizar Proyecto">
                </a>
            </section>
        </main>
    </body>
</html>