<header>
        <img src="/IMG/fotoperfil.jpg" alt="Foto de Perfil" width="250" height="350">
        <h1>Rudy Roberto Méndez Galindo</h1>
        <h2>Bachiller en Ciencias y Letras con Diplomado en Inglés</h2>
        <h2>Ingeniería en Sistemas de Información y Ciencias de la Computación</h2>
        <p>
            <img src="/IMG/contacto.png" alt="contacto" width="30" height="20">
            <b>Información de Contacto:</b>
            rmendezg13@miumg.edu.gt, (502) 3588-4051
        </p>
</header>