<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>chihuahua</title>
        <link rel="stylesheet" href="/public/CSS/chihuahua.css"/>
    </head>
    <body>
        {{>header}}
        <main>
            <section id="description">
                <h3>Chihuaha</h3>
                <p>
                    Se refiere a una raza de perro pequeña originaria de México. Estos perros se caracterizan por su diminuto tamaño,
                    con un peso típico de 2 a 6 libras y una altura de 6 a 9 pulgadas en la cruz. Son conocidos por su valentía,
                    lealtad y personalidad fuerte a pesar de su pequeño tamaño. Además, los Chihuahuas pueden tener pelaje corto o
                    largo en una variedad de colores y patrones.
                </p>
            </section>
            <hr>
            <section id="diagramas">
                <h4>Chihuaha Corriendo</h4>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/3xEqSFnLr_Q?si=gLRFBKSgI8aS6fQa&amp;start=5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </section>
        </main>
        {{>footer}}
    </body>
</html>