<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Perros Domésticos</title>
    <link rel="stylesheet" href="/public/CSS/normalize.css"/>
    <link rel="stylesheet" href="/public/CSS/home.css"/>
</head>
<body>
    {{>header}}
    <main>
        <section id="about">
            <h1>Perros Domésticos</h1>
            <p>
                El término “perro doméstico” se refiere a cualquiera de los cientos de razas de perros que hay
                en el mundo hoy en día. Si bien estos animales varían drásticamente en cuanto a su apariencia,
                todos los perros, desde el chihuahua hasta el gran danés, son miembros de la misma especie, Canis
                familiaris. Esto separa a los perros domésticos de los caninos salvajes, como coyotes, zorros y lobos.
            </p>
        </section>
        <section>
            <img src="/public/IMG/chihuahaypastor.png" alt="Chihuahua y Pastor Aleman">
        </section>
        <section id="featured-work">
            <h2>Razas de perros</h2>
            <div class="project">
                <h3>
                    Pastor Alemán
                </h3>
                <a href="/pastor_aleman">Pastor Alemán</a>
            </div>
            <div class="project">
                <h3>
                    Chihuaha
                </h3>
                <a href="/chihuahua">Chihuaha</a>
            </div>
        </section>
    </main>
    
    {{>footer}}

</body>
</html>