<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mi Portafolio UMG</title>
    <link rel="stylesheet" href="/CSS/normalize.css"/>
    <link rel="stylesheet" href="/CSS/estiloportafolio.css"/>
</head>
<body>
    {{>header}}
    <main>
        <section id="about">
            <h2>Acerca de Mí:</h2>
            <p>
                Actualmente soy un estudiante de la Universidad Mariano Gálvez de Guatemala de la carrera de Ingeniería en Sistemas de
                Información y Ciencias de la Computación, también estoy en practicas universitarias en la empresa llamada "SSASA"
                y he vivido en lugares como Santiago Atitlán Sololá y Patulul Suchitepéquez.
            </p>
            <p>
                <b>Fecha de Nacimiento:</b> 11 de diciembre de 2001
            </p>
            <p>
                <b>Lugar de Nacimiento:</b> Santiago Atitlán, Sololá
            </p>
            <p>
                <b>Género:</b> Masculino
            </p>
            <p>
                <b>Nacionalidad:</b> Guatemalteco
            </p>
            <p>
                <b>Estado Civil:</b> Soltero
            </p>
            <h2>Conocimientos:</h2>
            <h3>Conocimientos Generales</h3>
            <ul>
                <li>Conocimientos básicos sobre el uso del sistema operativo Windows.</li>
                <li>Conocimientos sobre el manejo de programas de Office.</li>
                <li>Conocimiento básico sobre redes de computadoras</li>
                <li>Conocimiento básico sobre sistemas operativos.</li>
            </ul>
            <h3>Lenguajes de programación</h3>
            <p>Tengo conocimientos en lenguajes de programación cómo:</p>
            <ol>
                <li>Java.</li>
                <li>C++.</li>
                <li>C#.</li>
                <li>Python.</li>
            </ol>
            <h3>Manejo de Base de Datos</h3>
            <p>Tengo conocimientos en base de datos en sistemas gestores como:</p>
            <ol>
                <li>SQL Server</li>
                <li>Mongo DB</li>
                <li>Oracle</li>
            </ol>
            <p>Nivel de idiomas:</p>
            <ol>
                <li>Español (100%)</li>
                <li>Inglés (65%)</li>
                <li>Kaqchiquel (25%)</li>
                <li>T'zutujil (10%)</li>
            </ol>
        </section>
        <section id="featured-work">
            <h2>Trabajos Destacados</h2>
            <div class="project">
                <h3>
                    Proyecto 1: Base de Datos de Notas para un Colegio.
                </h3>
                <a href="proyecto1css">Proyecto No. 1</a>
            </div>
            <div class="project">
                <h3>
                    Proyecto 2: Migración de Arquitectura Oracle 6i a plataforma Oracle Apex 20.2 para el análisis y la toma
                    de decisiones en la Producción de Caña de Azúcar en Ingenio Madre Tierra.
                </h3>
                <a href="proyecto2css">Proyecto No. 2</a>
            </div>
        </section>
        <section id="work-experience">
            <h2>Experiencia Laboral</h2>
            <h3>Auxiliar Informático</h3>
            <br>
            <p><b>Tiempo de Laburo:</b>Enero de 2021 - Marzo de 2021</p>
            <p><b>Lugar de Laburo:</b>Colegio Mixto "Nuevo Amanecer" CEMINA, Patulul Suchitepéquez</p>
            <p>
                <b>Descripción del trabajo realizado:</b>
                Asistencia a padres de Familia y alumnos con el uso de la Plataforma de Microsoft 
                Teams, Microsoft One Drive y Control Total; apoyo al docente de computación 
                (mantenimiento de computadoras con el software y el hardware).
            </p>
        </section>
        <section id="references">
            <h2>Referencias</h2>
            <h3>Referencias Laborales</h3>
            <ul>
                <li>
                    <p>Directora Y Dueña del Colegio Mixto "Nuevo Amanecer" CEMINA</p>
                    <p>Licda. Rossana Isabel Aráuz Medrano</p>
                    <p><b>Tel:</b>5512-9590</p>
                </li>
            </ul>
            <h3>Referencias Personales</h3>
            <ol>
                <li>
                    <p>Edwin Armando Valenzuela</p>
                    <p>Asesor de Ventas Curacao</p>
                    <p><b>Tel:</b>3115-5237</p>
                </li>
                <li>
                    <p>Cristian Yovany Castillo Rojas</p>
                    <p>Promotor de Desarrollo Fundación Genesis Empresarial</p>
                    <p><b>Tel:</b>4235-9773</p>
                </li>
            </ol>
        </section>
    </main>
    
    {{>footer}}

</body>
</html>