<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pastor Alemán</title>
        <link rel="stylesheet" href="/public/CSS/pastor_aleman.css"/>
    </head>
    <body>
        {{>header}}
        <main>
            <section id="description">
                <h3>Pastor Alemán</h3>
                <p>
                    El pastor alemán es una raza de perro conocida por su inteligencia, lealtad y versatilidad.
                    Son perros de tamaño mediano a grande con un pelaje denso y una apariencia atlética.
                    Se utilizan comúnmente como perros de trabajo, incluyendo labores de pastoreo, búsqueda y
                    rescate, y en la aplicación de la ley.
                </p>
            </section>
            <hr>
            <section id="photos">
                <h4>Fotos de Pastor Alemán</h4>
                <div class="photo">
                    <img src="/public/IMG/pastorAleman1.png" alt="Pastor Alemán 1">
                </div>
                <div class="photo">
                    <img src="/public/IMG/pastorAleman2.webp" alt="Pastor Alemán 2">
                </div>
            </section>
        </main>
        {{>footer}}
    </body>
</html>