<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Proyecto 1</title>
        <link rel="stylesheet" href="./normalize.css">
        <link rel="stylesheet" href="./estiloproyecto4.css">
    </head>
    <body>
        <header>
            {{>header}}
        </header>
        <p>
            <h2>Heladería</h2>
            <p>Hecho en UMG</p>
            <br>
            <a href="portafolioRudyRobertoMendezGalindocss.html">
                <input type="submit" name="Regresar" id="" value="Regresar">
            </a>
        </p>
        <main>
            <section id="description">
                <h3>Descripción del Proyecto</h3>
                <p>
                    Se desarrolló un sistema en el lenguaje C++, este se encarga de hacer pedidos y añadirlos a una lista,
                    también tiene la opción de eliminar la lista de pedidos.
                </p>
                <p>
                    <b>Rol:</b> Desarrollador.
                </p>
                <hr>
            </section>
            <section id="fotos">
                <p>Pantalla Principal Heladería</p>
                <img src="./imagenesversiondos/principal heladería.png" alt="Pantalla Principal Heladería" width="250" height="250">
                <p>Menú de Heladería</p>
                <img src="./imagenesversiondos/menu heladería.png" alt="Menú de Heladería" width="250" height="250">
                <p>Agregar pedido de Heladería</p>
                <img src="./imagenesversiondos/agregar pedido heladería.png" alt="Agregar pedido de Heladería" width="250" height="250">
                <p>Mostrar pedido de Heladería</p>
                <img src="./imagenesversiondos/mostrar pedido heladería.png" alt="Mostrar pedido de Heladería" width="250" height="250">
                <hr>
                <a href="https://github.com/RoberthG01/Helader-a" target="_blank">
                    <input type="submit" name="Proyecto" id="" value="Visualizar Proyecto">
                </a>
            </section>
        </main>
        {{>footer}}
    </body>
</html>