<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Proyecto 1</title>
        <link rel="stylesheet" href="/public/CSS/normalize.css">
        <link rel="stylesheet" href="/public/CSS/estiloproyecto3.css">
    </head>
    <body>
            {{>header}}
        <p>
            <h1>Conexión de Mongo DB a VS Code</h1>
            <p>Hecho en UMG</p>
            <br>
            <a href="{{backLink}}">
                <input type="submit" name="Regresar" id="" value="Regresar">
            </a>
        </p>
        <main>
            <section id="description">
                <h3>Descripción del Proyecto</h3>
                <p>
                    Acá mostraremos como se realizó la conexión de Mongo DB a los proyectos en VS Code
                    desde el app711.js del curso nodejs.
                </p>
                <p>
                    <b>Rol:</b> Desarrollador.
                </p>
            </section>
            <section id="enlace">
                <a href="https://drive.google.com/drive/folders/1MGaef1g5bDfzJ5lFATkVwez1ExW-D9KE?usp=sharing" target="_blank">
                    <input type="submit" name="Proyecto" id="" value="Visualizar Proyecto">
                </a>
            </section>
        </main>
        {{>footer}}
    </body>
</html>