<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Proyecto 2</title>
        <link rel="stylesheet" href="/public/CSS/normalize.css">
        <link rel="stylesheet" href="/public/CSS/estiloproyecto2.css">
    </head>
    <body>
            {{>header}}
        <p>
            <h1>
                Proyecto 2: Migración de Arquitectura Oracle 6i a plataforma Oracle Apex 20.2 para el análisis y la toma
                de decisiones en la Producción de Caña de Azúcar en Ingenio Madre Tierra.
            </h1>
            <a>Hecho en UMG</a>
            <br>
            <a href="{{backLink}}">
                <input type="submit" name="Regresar" id="" value="Regresar">
            </a>
        </p>
        <main>
            <section id="description">
                <h3>Descripción del Proyecto</h3>
                <p>
                    Se necesitaba con urgencia una migración de Arquitectura para mantener actualizado el sistema para evitar
                    algún problema ocasionado por un versionamiento antiguo.
                </p>
                <p>
                    <b>Rol:</b> Desarrollador APEX y Gestor de Proyecto
                </p>
            </section>
            <hr>
            <section id="diagramas">
                <h4>Enlace para visualizar el Proyecto</h4>
                <a href="https://github.com/RoberthG01/CuartaEntrega" target="_blank">
                    <input type="submit" name="Proyecto" id="" value="Visualizar Proyecto">
                </a>
            </section>
        </main>
        {{>footer}}
    </body>
</html>