<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WebServer</title>
        <link rel="stylesheet" href="/CSS/WebServer.css"/>
    </head>
    <body>
        <header>
            <p>
                <h1>
                    WebServer: Se trata de un proyecto parcial en clase de Desarrollo Web sobre la creación y la
                    manipulación del WebServer como tal con Node.js.
                </h1>
                <a>Hecho en UMG</a>
                <br>
                <a href="/">
                    <input type="submit" name="Regresar" id="" value="Regresar">
                </a>
            </p>
        </header>
        <hr>
        <main>
            <section id="description">
                <h3>Descripción del Proyecto</h3>
                <p>
                    Utilizando factores como "http" nos permite crear servidores HTTP personalizados, aunque también
                    existen otros frameworks como Express, el cuál también utilizamos, existen además Koa, Hapi, entre
                    otras.
                </p>
                <p>
                    <b>Rol:</b> Programador Jr
                </p>
            </section>
            <hr>
            <section id="diagramas">
                <h4>Enlace para visualizar el Proyecto</h4>
                <a href="PENDIENTE EL ENLACE" target="_blank">
                    <input type="submit" name="Proyecto" id="" value="Visualizar Proyecto">
                </a>
            </section>
        </main>
    </body>
</html>