<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Proyecto Yargs</title>
        <link rel="stylesheet" href="/CSS/yargs.css"/>
    </head>
    <body>
        <header>
            <p>
                <h1>
                    Proyecto Yargs: Se trata de un proyecto parcial en clase de Desarrollo Web sobre la utilización de
                    yargs con Node.js.
                </h1>
                <a>Hecho en UMG</a>
                <br>
                <a href="/">
                    <input type="submit" name="Regresar" id="" value="Regresar">
                </a>
            </p>
        </header>
        <hr>
        <main>
            <section id="description">
                <h3>Descripción del Proyecto</h3>
                <p>
                    Yargs es una blibioteca que se usa en Node.js. Esta herramienta es útil para desarrolladores que desean
                    crear aplicaciones de línea de comandos con una interfaz que sea flexible y también fácil para usar.
                </p>
                <p>
                    <b>Rol:</b> Programador Jr
                </p>
            </section>
            <hr>
            <section id="diagramas">
                <h4>Enlace para visualizar el Proyecto</h4>
                <a href="PENDIENTE" target="_blank">
                    <input type="submit" name="Proyecto" id="" value="Visualizar Proyecto">
                </a>
            </section>
        </main>
    </body>
</html>